@font-face {
	font-family: "iconfont";
	src: local('iconfont'), url("iconfont.woff2?b87b7dba7b270dcc9d54a06cfa895565") format("woff2"),
url("iconfont.woff?b87b7dba7b270dcc9d54a06cfa895565") format("woff"),
url("iconfont.eot?b87b7dba7b270dcc9d54a06cfa895565?#iefix") format("embedded-opentype");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-add_more:before {
	content: "\f101";
}
.icon-arrow-back:before {
	content: "\f102";
}
.icon-arrow-down:before {
	content: "\f103";
}
.icon-back_arrow:before {
	content: "\f104";
}
.icon-board:before {
	content: "\f105";
}
.icon-cross:before {
	content: "\f106";
}
.icon-down:before {
	content: "\f107";
}
.icon-down_arrow_blue:before {
	content: "\f108";
}
.icon-drop:before {
	content: "\f109";
}
.icon-faqMinus:before {
	content: "\f10a";
}
.icon-faqPlus:before {
	content: "\f10b";
}
.icon-filter_right_arrow:before {
	content: "\f10c";
}
.icon-invoice:before {
	content: "\f10d";
}
.icon-irctc_maintainence:before {
	content: "\f10e";
}
.icon-middle:before {
	content: "\f10f";
}
.icon-no_trains:before {
	content: "\f110";
}
.icon-none:before {
	content: "\f111";
}
.icon-passage-of-time:before {
	content: "\f112";
}
.icon-payment_search:before {
	content: "\f113";
}
.icon-profile-unsigned:before {
	content: "\f114";
}
.icon-right-arrow:before {
	content: "\f115";
}
.icon-side-arrow:before {
	content: "\f116";
}
.icon-sideLower:before {
	content: "\f117";
}
.icon-sideUpper:before {
	content: "\f118";
}
.icon-star:before {
	content: "\f119";
}
.icon-tick:before {
	content: "\f11a";
}
.icon-ticket:before {
	content: "\f11b";
}
.icon-up_arrow_blue:before {
	content: "\f11c";
}
.icon-upper:before {
	content: "\f11d";
}
